

.Dictionary section {
  
    background-color: #FBE9DF;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    margin: 20px 0;
}

.Dictionary input {
  font-style: italic;
  font-size: 13px;
  height: 25px;
  background: whitesmoke;
  border: 1.5px solid rgba(154, 100, 85, 0.5);
  border-radius: 4px;
}



